src/
*.ts
tsconfig.json
pnpm-workspace.yaml
pnpm-lock.yaml
.pnpmfile.cjs
*.md
!README.md
.idea/
.vscode/
.DS_Store

!templates/**/.gitignore
!templates/**/.idea/
!templates/**/*.iml
!templates/**/.*

*.md
!README.md